<div class="container">
  <h3 class="my-4 text-center">Crie um novo tema</h3>
  <form>
    <div class="form-group">
      <label for="descricao">Digite um nome para o tema</label>
      <input type="text" name="descricao" class="form-control" placeholder="Digite um nome para o tema">

      <div class="d-flex justify-content-center">
        <button type="submit" class="mt-2 p-2 btn btn-pink">Criar</button>
      </div>
    </div>
  </form>

  <h3 class="my-4 text-center">Temas já criados</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título do tema</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-success mr-3">Editar</button>
          <button class="btn btn-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
