<section class="row m-0">
  <div class="col d-flex justify-content-center p-0">
    <img class="login-img" src="assets/img/login.png" alt="">
  </div>

  <div class="bg-color col d-flex justify-content-center align-items-center p-0">
    <form class="login-form">
      <div class="form-group">
        <label>Endereço de e-mail</label>
        <input [(ngModel)]='userLogin.login' type="email" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu melhor e-mail">
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input [(ngModel)]='userLogin.senha' type="password" class="form-control" placeholder="Digite sua senha">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="mt-2 p-2 btn" (click)='login()'>Entrar</button>
      </div>
      <p class="p-register text-center mt-3 mb-0">Ainda não tem cadastro? <a routerLink='/cadastro'>Cadastre-se!</a></p>
    </form>
  </div>
</section>
