<app-menu></app-menu>
<section class="contact">
  <h1 class="text-center my-5">Entre em contato</h1>
  <section class="d-flex justify-content-around align-items-center">
    <a class="icon" href="http://github.com/tatialveso" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/github.svg" alt="Ícone do GitHub">
    </a>
    <a class="icon" href="http://linkedin.com/in/t4ti" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/linkedin.svg" alt="Ícone do LinkedIn">
    </a>
    <a class="icon" href="mailto:tatiialveso@gmail.com" target="_blank" rel="noopener noreferrer">
      <img src="/assets/img/email.svg" alt="Ícone do Gmail">
    </a>
  </section>
</section>
<app-footer></app-footer>
